{% if events %}
  {% set items = events.http_response_body.items %}

  {% if items %}
    <div class="tableview">
      <table class="data fullwidth collapsible">
        <thead>
          <tr>
            <th colspan="2">Status</th>
            <th>Details</th>
          </tr>
        </thead>

        <tbody>
          {% for item in events.http_response_body.items %}
            {% set message = attribute(item, 'delivery-status').message ?? null %}
            <tr>
              <td class="thin">
                <span class="status {{
                  item.event == 'delivered' ? 'green' :
                  item.event == 'accepted' ? 'orange' :
                  item.event in ['failed', 'rejected'] ? 'red' :
                  'light' }}"></span>
              </td>
              <td>
                <div>{{ item.event|title }}</div>
                <div class="light">
                  <code>{{ (item.timestamp|round)|date('Y/m/d H:i:s') }}</code>
                </div>
              </td>
              <td>
                <div>To: {{ item.recipient|default('Undefined') }}</div>
                <div class="light">
                  <code>[{{ item.message.headers.subject|default('Undefined') }}]</code>
                </div>
                <div class="light">
                  <code>from {{ item.message.headers.from|default('Undefined') }}</code>
                </div>
              </td>
            </tr>
            {% if (message) and (message != 'OK') %}
              <tr>
                <td></td>
                <td colspan="2">
                  <div class="light">
                    <code>[{{ attribute(item, 'delivery-status').message|default('Undefined') }}]</code>
                  </div>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </table>
  {% else %}
    There are no events to display.
  {% endif %}
{% endif %}
